*{
    /*comentario*/
    font-family: sans-serif;
    color:black;
}

body{
    margin: 0;
    padding: none;
    overflow-y: hidden;
}

header{
    display: flex;
    justify-content: center;
    height: 230px;
    padding: 10px;
    background-image: linear-gradient(to bottom,grey,lightgrey);
    border: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #0075FF;
}

header h1{
    position: relative;
    margin-top: 140px;
    font-family: 'Bangers', cursive;
    font-size: 100px;
    color: #0075FF;
    cursor: pointer;
}



.contenedor{
    display: flex;
}
/*MEJORAR LAS CLASES E IDS PARA QUE EL CODIGO DE CSS QUEDE MAS CLARO*/
.center{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,lightgrey,grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 400px;
}

.links a{
    border: 2px solid grey;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 85px;
    padding-left: 90px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 23px;
    background: radial-gradient(#0075FF,#01d5ff);
}

.links a:hover{
    box-shadow: 0px 0px 10px #0075FF;
}

