*{
    font-family: sans-serif;
}

body{
    margin: 0;
    background-color: lightgrey;
}

header{
    margin: 30px;
}

.header2{
    display: flex;
}

.agregar_comic{
    margin-top: 30px;
    display: flex;
}

.campo{
    /*border: 1px solid black;*/
    width: 200px;
    height: 40px;
}

#AGREGAR{
    margin-left: 200px;
}

#EDITAR{
    margin-left: 200px;
}

#add_agregar{
    margin-left: 180px;
    top: 100px;
}

.campo input{
    text-align: center;
    outline: 1px solid;
    width: 96%;
    height: 100%;
}

.btns{
    width: 80px;
    height: 46px;
    border-style: 0.3px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}

.searchbar{
    position: absolute;
    right: 0;
}

#search{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.tabla{
    width: 100%;
    /*margin-left: 16%;*/
    margin-top: 120px;
    font-weight: bold;
    font-family: sans-serif;
    border-collapse: collapse;
}

thead{
    height: 20px;
    width: 100%;
}

th{
    height: 40px;
    background-color: #0075FF;
    border-right: none;
}

th,td{
    border-bottom: 2px solid rgba(0,0,0,.15);
    border-collapse: collapse;
    font-size: 20px;
    border-right: none;
    border-left: none;
    border-top: none;
}

td{
    text-align: center;
}

.contenedor_agregar{
    width: 100%;
    margin: 20px;
}


.icono_link_descarga{
    padding: 17px;
    
}

.icono_link_descarga a{
    text-decoration: none;
    color: black;
}

.icono_link_descarga i{
    color: rgb(33, 216, 128);
}

.icono_link_descarga a:hover i{
    text-shadow: 0px 0px 5px  #119200;
}

.btn_editar_borrar{
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 2px;
}

#btn_editar{
    background-color: rgb(0, 255, 132);
}

#btn_borrar{
    background-color: red;
}

@media(max-width:800px){

    .header2{
        flex-direction: column;
    }
}
