/*SECTION DC*/
.contenedor_dc{
    margin: 0;
}

.contenedor_dc .dc_header{
    height: 240px;
    border-style: solid;
    background-image: linear-gradient(to right,#09C6F9,#045DE9);
}

#dc_inicio{
    top: 30px;
    right: 135px;
    text-decoration: none;
    font-size: large;
    font-style: bold;
    color: black;
    cursor: pointer;
}

.contenedor_dc .cd_body{
    height: 800px;
    border-style: solid;
}