body{
    margin: 0;
}

header{
    margin: 30px;
}

.header2{
    display: flex;
}

.agregar_comic{
    display: flex;
}

.campo{
    border: 1px solid black;
    font-family: 'Bangers', cursive;
    width: 200px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.campo input{
    width: 100%;
    height: 100%;
}

.searchbar{
    position: absolute;
    right: 0;
}

#search{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.tabla{
    width: 100%;
    /*margin-left: 16%;*/
    margin-top: 20px;
    
}

th,td{
    border: solid 1.5px black;
}

.contenedor_agregar{
    width: 100%;
    margin: 20px;
}


.icono_link_descarga{
    padding: 17px;
}

.btn_editar_borrar{
    width: 100%;
    height: 40px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 2px;
}

#btn_editar{
    background-color: rgb(0, 255, 0);
}

#btn_borrar{
    background-color: red;
}

@media(max-width:800px){

    .header2{
        flex-direction: column;
    }
}
